__pycache__
.idea/*
*.vscode/
._*
*.pyc
*.cpython*
.DS_store
*.lsf
*.pkl
.Rproj.user
sequence_analysis/tmp/
sequence_analysis/raw_reads/
sequence_analysis/taxa/silva/
datasets/gibson/metadata_OTU/plots/
scripts/differential_abundance/_tmp/